@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
a{
    color: white;
    text-decoration: none;
}
li{
    list-style: none;
}
#logo-header{
    max-width: 100px;
}
.showcase-menu{
    position: relative;
    right: 0;
    width: 100%;
    min-height: 90vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background: #111;
    color: #fff;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/textura-fondo-menu.jpg");

}
.showcase-menu header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.showcase{
    position: relative;
    right: 0;
    width: 100%;
    min-height: 90vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background: #111;
    color: #fff;
    z-index: 2;
}
.showcase header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
.overlay{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%; 
}
.text{
    position: relative;
    z-index: 10;
    text-align: center;
}
.text h1{
    font-size: 4.2rem;
}
/*TEXTURAS 40vh*/
.showcase-texturas{
    position: relative;
    right: 0;
    width: 100%;
    min-height: 40vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background: #111;
    color: #fff;
    z-index: 2;
}
.showcase-texturas header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.showcase-texturas video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
/*FIN TEXTURAS*/
/*OTROS FONDOS 70vh*/
.showcase2{
    position: relative;
    right: 0;
    width: 100%;
    min-height: 70vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background: #111;
    color: #fff;
    z-index: 2;
}
.showcase2 header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.showcase2 video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
.showcase-enviroment{
    position: relative;
    right: 0;
    width: 100%;
    min-height: 110vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background: #111;
    color: #fff;
    z-index: 2;
}

.showcase-enviroment video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
/*FIN DE LOS OTROS FONDOS*/
.fa-xmark{
    color: white;
    font-size: 2rem;
}
.fa-bars{
    color: white;
    font-size: 2rem;
}
.btn-primary{
    border-color: #fff;
    background-color: transparent;
    width: 150px;
    border-radius: 11px;
}
.btn-primary:hover{
    background: none;
    color: #fff;
    border-color: #fff;
}
.close{
    margin-right: 40px;
}
#menu{
    display: none;
}
#menu a{
    color: white;
    text-decoration: none;
    text-align: right;
}
#menu li{
    list-style: none;
    text-align: right;
    line-height: 80px;
}

.idioma{
    text-align: right;
}
.idioma a{
    margin-left: 25px;
}
#icono-pais{
    margin-right: 15px; 
    max-width: 60px;
    float: left;
}
#paises h1{
    font-size: 2.5rem;
}
th{
    width: 50px;
    height: 50px;
}
td{
    height: auto;
}
#fondo-team{
    width: 100%;
    height: 90vh;
    background-image: url("../img/workers-parallax.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#fondo-bosque{
    width: 100%;
    height: auto;
    background-image: url("../img/forest.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#fondo-mountains{
    width: 100%;
    height: 80vh;
    background-image: url("../img/photo-mountain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#fondo-montanas{
    width: 100%;
    height: auto;
    background-image: url("../img/painting.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#fondo-forest{
    width: 100%;
    height: 220vh;
    background-image: url("../img/vertical-forest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.iso{
    width: 100%;
    height: auto;
    background-image: url("../img/iso.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}
#linea1{
    max-width: 400px;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 0px;
}
#linea2{
    margin-top: 10px;
    margin-left: 120px;
    margin-bottom: 20px;
}
.circulos{
    max-width: 200px;
    margin-bottom: 15px;
}
.we-have{
    max-width: 50px;
    float: left;
    margin-right: 15px; 
}
#worker{
    margin-bottom: 80px;
}
#minimal{
    margin-bottom: 120px;
}
#fondo-montanas img{
    margin-top: 70px;
    max-width: 180px;
}
#fondo-mountains{
    color: #546884;
}
#fondo-mountains img{
    max-width: 200px;
    margin-top: 30px;
}
#fondo-mountains p{
    color: #000;
}
#icono{
   max-width: 120px; 
}
footer span{
    font-size: 0.8rem;
}
.fondo-footer{
    background-color: #122048;
    color: white;
}
.fondo-footer h5{
    font-size: 0.7rem;
}
.title{
    margin-bottom: 22px;
}
.site-menu{
   list-style: none; 
   padding-left: 0!important;
}
.menu-footer h5{
    font-size: 0.9rem;
    line-height: 30px;
    color: #464646;
}
.redes img{
    max-width: 30px;
}
#logo{
    max-width: 220px;
}
.showcase-menu span{
    font-size: 0.6rem;
}
.card{
    background: transparent;
    border-color: white;
}
.environment{
    width: 100%;
    margin-bottom: 100px;
}
#card img{
    margin-top: 20px;
    max-width: 80px;
    margin-bottom: 40px;
}
.contenido{
    margin-left: 30px;
    margin-bottom: 50px;
}
.contenido h3{
    font-size: 2.1rem;
}
.contenido p{
    font-size: 1.1rem;
}
.img-thumbnail-item2{
    padding: 0.25rem;
    background: #fff;
    max-width: 80%;
}
.risk{
    margin-bottom: 80px;
}
#fondo-azul{
    background-color: #122048;
    color: white;
}
#fondo-negro{
    background-color: #000;
}
#fondo-azul .nav-link{
    border-color: white;
    border-radius: 0;
    color: white;
}
.nav-tabs{
    border-bottom: 0;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: rgba(255, 255, 255, 0.1)!important;
}
.modal-content, .modal-header{
    background: none;
    border: none;
}
.btn-close{
    color: #fff!important;
}
#poster{
    max-width: 800px;
}
.container-image{
    position: relative;
    width: 100%;
    max-width: 100%;
}
.imagen-poster{
    width: 100%;
    height: auto;
}
.img-thumbnail-item{
    padding: 0.25rem;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 0.25rem;
    max-width: 70%;
}
.btn-play{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    widows: 100%;
    background-color: transparent;
}
#btn-play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    cursor: pointer;
    z-index: 2;
}
.btn-play img{
    max-width: 200px;
}
.form{
    background-color: #F5F5F5;
}
.form input, textarea, select{
    border-color: white!important;
}
.btn-enviar{
    background-color: white;
    width: 180px;
}
#contact a{
    color: black;
}
@media screen and (max-width:300px){
    .text h1{
        font-size: 1.5rem;
    }
    .btn-primary{
        width: 150px;
        margin-top: 50px;
        margin-left: -50px;
    }
    .water{
        margin-left: -50px;
    }
    .showcase2{
        min-height: 90vh;
    }
    .showcase2 header{
        padding: 0;
    }
    .showcase-texturas{
        min-height: 60vh;
    }
    .showcase-texturas header{
        padding: 0;
    }
    #social-impact{
        min-height: 130vh;
    }
    #high-quality header{
        padding: 0;
    }
    #fondo-mountains{
        height: 110vh;
    }
    #planeta header{
        padding: 0;
    }
    #planeta{
        min-height: 140vh;
    }
    .showcase header{
        padding: 0;
    }
    .index h1{
        padding: 0;
        margin-top: 30px;  
    }
    .showcase-enviroment{
        padding: 0;
    }
    #sustainability{
        padding: 0;
    }
    #worker{
        margin-bottom: 120px;
    }
    #minimal{
        margin-bottom: 170px;
    }
}
@media screen and (max-width:400px){
    .text h1{
        font-size: 1.5rem;
    }
    .btn-primary{
        width: 150px;
        margin-top: 50px;
        margin-left: -50px;
    }
    .water{
        margin-left: -50px;
    }
    .showcase2{
        min-height: 90vh;
    }
    .showcase2 header{
        padding: 0;
    }
    .showcase-texturas{
        min-height: 80vh;
    }
    .showcase-texturas header{
        padding: 0;
    }
    #social-impact{
        min-height: 130vh;
    }
    #high-quality header{
        padding: 0;
    }
    #fondo-mountains{
        height: 100vh;
    }
    #planeta header{
        padding: 0;
    }
    #planeta{
        min-height: 140vh;
    }
    .showcase header{
        padding: 0;
    }
    .index h1{
        padding: 0;
        margin-top: 30px; 
    }
    .showcase-enviroment{
        padding: 0;
    }
    #sustainability{
        padding: 0;
    }
    #worker{
        margin-bottom: 120px;
    }
    #minimal{
        margin-bottom: 170px;
    }
}
@media screen and (max-width:500px){
    .text h1{
        font-size: 1.5rem;
    }
    .btn-primary{
        width: 150px;
        margin-top: 50px;
        margin-left: -50px;
    }
    .water{
        margin-left: -50px;
    }
    .showcase2{
        min-height: 90vh;
    }
    .showcase2 header{
        padding: 0;
    }
    .showcase-texturas{
        min-height: 80vh;
    }
    .showcase-texturas header{
        padding: 0;
    }
    #social-impact{
        min-height: 130vh;
    }
    #high-quality header{
        padding: 0;
    }
    #fondo-mountains{
        height: 100vh;
    }
    #planeta header{
        padding: 0;
    }
    #planeta{
        min-height: 140vh;
    }
    .showcase header{
        padding: 0;
    }
    .index h1{
        padding: 0;
        margin-top: 30px;
        
    }
    .showcase-enviroment{
        padding: 0;
    }
    #sustainability{
        padding: 0;
    }
    #worker{
        margin-bottom: 30px;
    }
    #minimal{
        margin-bottom: 80px;
    }
}
@media screen and (max-width:600px){
    .text h1{
        font-size: 1.5rem;
    }
    .btn-primary{
        width: 150px;
        margin-top: 50px;
        margin-left: -50px;
    }
    .water{
        margin-left: -50px;
    }
    .showcase2{
        min-height: 90vh;
    }
    #social-impact{
        min-height: 130vh;
    }
    #high-quality header{
        padding: 0;
    }
    .showcase header{
        padding: 0;
    }
    .index h1{
        padding: 0;
        margin-top: 30px;
        
    }
    .showcase-enviroment{
        padding: 0;
    }
    #sustainability{
        padding: 0;
    }
    #worker{
        margin-bottom: 30px;
    }
    #minimal{
        margin-bottom: 80px;
    }
}
@media screen and (max-width:700px){
    .text h1{
        font-size: 1.5rem;
    }
    .btn-primary{
        width: 150px;
        margin-top: 50px;
        margin-left: -50px;
    }
    .water{
        margin-left: -50px;
    }
    .showcase2{
        min-height: 90vh;
    }
    .showcase2 header{
        padding: 0;
    }
    .showcase-texturas{
        min-height: 80vh;
    }
    .showcase-texturas header{
        padding: 0;
    }
    #social-impact{
        min-height: 130vh;
    }
    #high-quality header{
        padding: 0;
    }
    #fondo-mountains{
        height: 100vh;
    }
    #planeta header{
        padding: 0;
    }
    #planeta{
        min-height: 140vh;
    }
    .showcase header{
        padding: 0;
    }
    .index h1{
        padding: 0;
        margin-top: 30px;   
    }
    .showcase-enviroment{
        padding: 0;
    }
    #sustainability{
        padding: 0;
    }
    #worker{
        margin-bottom: 30px;
    }
    #minimal{
        margin-bottom: 80px;
    }
}
@media screen and (max-width:800px){
    .text h1{
        font-size: 1.5rem;
    }
    .btn-primary{
        width: 150px;
        margin-top: 50px;
        margin-left: -50px;
    }
    .water{
        margin-left: -50px;
    }
    .showcase2{
        min-height: 90vh;
    }
    .showcase2 header{
        padding: 0;
    }
    .showcase-texturas{
        min-height: 80vh;
    }
    .showcase-texturas header{
        padding: 0;
    }
    #social-impact{
        min-height: 130vh;
    }
    #high-quality header{
        padding: 0;
    }
    #fondo-mountains{
        height: 100vh;
    }
    #planeta header{
        padding: 0;
    }
    #planeta{
        min-height: 140vh;
    }
    .showcase header{
        padding: 0;
    }
    .index h1{
        padding: 0;
        margin-top: 30px; 
    }
    #worker{
        margin-bottom: 30px;
    }
    #minimal{
        margin-bottom: 50px;
    }
    #linea1{
        max-width: 400px;
        margin-top: 50px;
        margin-left: 190px;
        margin-bottom: 0px;
    }
    #linea2{
        margin-top: 10px;
        max-width: 200px;
        margin-bottom: 20px;
    }
    #fondo-forest{
        height: 240vh;
    }
}
@media screen and (max-width:990px){
    .text h1{
        font-size: 1.5rem;
    }
    .btn-primary{
        width: 150px;
        margin-top: 50px;
        margin-left: -50px;
    }
    .water{
        margin-left: -50px;
    }
    .showcase2{
        min-height: 90vh;
    }
    .showcase2 header{
        padding: 0;
    }
    .showcase-texturas{
        min-height: 80vh;
    }
    .showcase-texturas header{
        padding: 0;
    }
    #social-impact{
        min-height: 130vh;
    }
    #high-quality header{
        padding: 0;
    }
    #fondo-mountains{
        height: 100vh;
    }
    #planeta header{
        padding: 0;
    }
    #planeta{
        min-height: 140vh;
    }
    .showcase header{
        padding: 10px 50px;
    }
    .index h1{
        padding: 0;
        margin-top: 30px;
        
    }
    #worker{
        margin-bottom: 30px;
    }
    #minimal{
        margin-bottom: 50px;
    }
    #linea1{
        max-width: 400px;
        margin-top: 50px;
        margin-left: 190px;
        margin-bottom: 0px;
    }
    #linea2{
        margin-top: 10px;
        max-width: 200px;
        margin-bottom: 20px;
    }
    #fondo-forest{
        height: 240vh;
    }
    .contenido{
        margin-left: 170px;
    }
}